<header class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
  <div id="logo" class="col-xs-12 col-sm-6 col-md-8">
    <img src="images/bbg_logo_mens.png" />
  </div>
  <div id="about" class="col-xs-12 col-sm-6 col-md-4">
    <ul>
      <li><strong>Author</strong> Derek Rush</li>
      <li><strong>Position</strong> Senior Frontend Engineer</li>
      <li><strong>Github</strong> <a href="https://github.com/nutheory/node-bb-test">Nutheory</a>
      <li><strong>Tech</strong> Node, Express, Gulp, Backbone, Underscore, Require, jQuery, Handlebars, Bootstrap, Sass</li>
    </ul>
  </div>
</header>

<ul id="products" class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

</ul>

<footer class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
  <a id="more_results" href="#" alt="More results" nofollow>Load More</a>
</footer>
